 *{
    margin: 0;
 }

 body{
    background-color: rgb(234, 230, 230);
 }

 .navbar{
    flex: 1;
    display: flex;
    background-color: white;
    padding: 10px 5%;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
 }

 .searchbar{
    background-color: #f0f5ff;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
 }

 .searchbar>input[type="search"]{
    border: 0;
    outline: 0;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 200;
    background-color: transparent;
 }

 /* Navbar link */

 .link{
    flex: 1;
    display: flex;
    gap: 5pxpx;
 }
 .link>a{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
 }

 .active:hover{
    background-color: blue;
    color: white;
 }

 .caregories{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10px 15px;
    gap: 40px;
    padding: 10px 15px;
 }
 .cat-card{
    width: 10%;
    height: auto;
    text-align: center;
    padding-left: 40px;
 }
 .cat-card>h4{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: -5px;
 }

 .cat-card>a{
    text-decoration: none;
    color: black;
   
 }

 .banner{
    flex: 1;
    padding-left:15px;
    padding-right: 15px;
 }
 .banner>img{
    width: 100%;
    
 }

 /* Next line */

 .container{
   display: flex;
   justify-content: center;
   background-color: white;
   margin: 10px 15px;
   gap: 40px;
   padding: 10px 15px;
 }

 .span{
   width: 110px;
 }

 .card-cat>a{
    text-decoration: none;
    color: black;
   
 }

 .monaf a{
   text-decoration: none;
   color: black;
 }
 